{
  "presets": [
    "airbnb",
    [
      "@babel/preset-env",
      {
        "modules": false
      }
    ]
  ],
  "plugins": [

    ["@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ],

    [
      "babel-plugin-import",
      {
        "libraryName": "@material-ui/core",
        "libraryDirectory": "esm",
        "camel2DashComponentName": false
      },
      "core"
      
    ],
    [
      "babel-plugin-import",
      {
        "libraryName": "@material-ui/icons",
        "libraryDirectory": "esm",
        "camel2DashComponentName": false
      },
      "icons"
    ]
  ],
  "env": {
    "production": {
      "presets": ["minify"]
    }
  }
}