@import "../node_modules/leaflet/dist/leaflet.css";
@import "../node_modules/leaflet-fullscreen/dist/leaflet.fullscreen.css";
@import "../node_modules/leaflet-sidebar-v2/css/leaflet-sidebar.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css";

#map-container {
  max-width: 800px;
  height: 600px;
}

#map {
  max-width: 800px;
  max-height: 700px;
}

/*
Controls the CSS for projection buttons when there is no available projection
*/

.disabled {
  opacity: 40%;
}
