@import "../node_modules/leaflet/dist/leaflet.css";
@import "../node_modules/leaflet-fullscreen/dist/leaflet.fullscreen.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css";
@import "../node_modules/leaflet-html-legend/dist/L.Control.HtmlLegend.css";


body {
  margin: 0;
  background: lightgray;
}

/*
App Layout Grid
*/

#app-container {
  height: calc(100vh - 1px);
  width: calc(100vw - 1px);
  display: grid;
  grid-template:
    "m r" auto
    / minmax(250px, auto) max-content;
  grid-gap: 1px;
}

#main-column {
  grid-area: m;
  display: grid;
  grid-template:
    "t" max-content
    "c" minmax(250px, auto)
    "b" max-content
    / minmax(250px, auto);
  grid-gap: 1px;
}

#right-bar {
  grid-area: r;
  background: lightgray;
  display: flex;
  flex-direction: row;
}

#top-bar {
  grid-area: t;
  background: lightgray;
}

#bottom-bar {
  grid-area: b;
  background: lightgray;
}

#map-container {
  grid-area: c;
}

#credits-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.credit-item {
  background: #f8f9fa;
  color: #343a40;
  border: 5px #ff0000;
  flex-grow: 1;
  align-content: center;
  text-align: center;
}

.flexbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.flexbar-item {
  margin: 5px;
}

#sort-filter-collapsed {
  cursor: pointer;
  font-size: 10pt;
  font-family: sans-serif;
  font-weight: 600;
  text-align: center;
  writing-mode: vertical-lr;
  text-orientation: mixed;
  transform: rotate(180deg);
  height: 100%;
}

#wkt-collapsed {
  height: 18px;
  font-family: sans-serif;
  font-size: 10pt;
  font-weight: 600;
  align-items: baseline;
  border-bottom: 1px solid lightgray;
  cursor: pointer;
}

#wkt-expanded {
  border-bottom: 1px solid lightgray;
}

#query-console-container {
  font-family: Arial, Helvetica, sans-serif;
	background-color: lightgray;
  padding: 0;
  display: flex;
  flex-direction: column;
}

#query-console-collapsed {
	line-height: 32px;
	text-align: left;
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  align-content: baseline;
}

#query-console-title {
  font-weight: 600;
  display: inline-flex;
  align-items: center;
}

#query-function {
  display: inline-flex;
  align-items: center;
}

#query-command-bar {
  padding: 10px;
}

#query-textarea-container {
  display: flex;
  background: #1971c2;
}

#query-textarea {
  font-family: Consolas 'Lucida Console' 'Cascadia Code' monospace;
  font-size: 13pt;
  flex: auto;
  resize: none;
  outline: none;
  border-radius: 0;
  border: none;
  background: #1971c2;
  color: #FFFFFF;
  width: auto;
  padding: 15px;
}

#query-textarea::placeholder {
  color: #eeeeee;
  opacity: 1;
}

/*
Controls the CSS for projection buttons when there is no available projection
*/

.disabled {
  opacity: 40%;
}

.leaflet-control-view-center {
  background-image: url("https://raw.github.com/pwldp/leaflet.viewcenter/master/icon-viewcenter.png");
}
.sidebar {
  box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.2),
    0px 10px 14px 1px rgba(0, 0, 0, 0.14), 0px 4px 18px 3px rgba(0, 0, 0, 0.12);
}

.sidebar-collapsed {
  width: 200px;
  height: 48px;
  background: #f8f9fa;
  border-radius: 5px;
  padding-left: 5px;
  padding-bottom: 2px;
  display: grid;
  grid-template-columns: auto 20px;
}

.sidebar-expanded {
  width: 800px;
  height: 98px;
  background: #f8f9fa;
  display: grid;
  grid-template-columns: auto 20px;
  border-radius: 5px;
}

.sidebar-button {
  font: bold 18px "Lucida Console", Monaco, monospace;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
}

.sidebar-expanded .sidebar-button {
  padding: 2px;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: thin solid #ccc;
  background-color: #fff;
}

.sidebar-collapsed .sidebar-button {
  font: bold 18px "Lucida Console", Monaco, monospace;
  margin-left: 5px;
  margin-bottom: -2px;
  padding: 2px;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: thin solid #ccc;
  background-color: #fff;
}

.sidebar-button:hover {
  background-color: #ccc;
}

.panelSection {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0, 0, 0, 0.12);
  padding: 10px;
}

.panelHeader {
  font-family: sans-serif;
  font-weight: bold;
}

.panelSectionHeader {
  display: inline;
  font-family: sans-serif;
  width: auto;
}

.panelItem {
  margin-top: 10px;
  margin-bottom: 5px;
  margin-right: 10px;
  margin-left: 10px;
}

.panelSectionTitle {
  display: inline;
}

.panelSectionCheck {
  float: right;
  margin-top: -12px;
  margin-bottom: -10px;
  margin-right: -10px;
}

.panelSortAscCheck {
  float: right;
  margin-right: -10px;
}

summary {
  cursor: pointer;
  width: auto;
  padding: auto;
  vertical-align: center;
}

.pagination {
   display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}
